#home {
  background-image: url('https://drive.google.com/uc?export=view&id=1GPZyZ0r8XSATBb-WSov3BQ_m9Swdkoeg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
}

/* Remove dark overlay */
#home::before {
  content: none;
}
